@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font families */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
    @apply font-sans font-light;
}
body {
    overflow-x: hidden;
}

.btn,
.menu-item a {
    @apply inline-block font-normal px-4 py-2 rounded transition text-blueDark bg-accent hover:bg-blueLight focus:outline-none focus:ring-2 focus:to-blueLight;
}

.container {
    @apply max-w-screen-xl mx-auto px-4;
}

.hero-content h1 {
    @apply text-blueLight text-4xl lg:text-6xl lg:leading-[120%];
}
.hero-content h1 strong {
    @apply text-accent font-light;
}

h1 {
    @apply lg:text-6xl font-light mb-4 lg:leading-[120%];
}

h4 {
    @apply text-base uppercase text-accent;
}

img {
    @apply max-w-full h-auto;
}

p {
    @apply md:text-xl mb-3 md:mb-4 lg:mb-6;
}

.content-media .title h4 {
    @apply text-blueDark font-medium tracking-widest;
}

.content-block h2,
.content-block h3 {
    @apply text-blueLight text-4xl lg:text-5xl mb-4 lg:mb-8;
}
.content-block p {
	@apply max-w-3xl m-auto
}